Source: qmlreddit
Section: user/hidden
Priority: optional
Maintainer: Ville M. Vainio <vivainio@gmail.com>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: <insert the upstream URL, if relevant>

Package: qmlreddit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Lightweight Reddit browser 
 Browse reddit in technicolor 
